* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
:root {
  font-size: 10px;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 27rem;
  height: 30rem;
  padding: 0 1rem;
  margin-left: 1rem;
  border: 1px solid black;
  background-color: white;
}
.list-header {
  width: 100%;
  height: 30%;
}
.list-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-text {
  text-align: center;
  font: normal normal 2rem/110% 'Times New Roman', sans-serif;
}
.main-list {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  list-style: none;

}
.list-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: auto;

}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #4d3c31;
}

::-webkit-scrollbar-thumb:hover {
  background: #201f20;
}
.main-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}
.main-list > li > p {
  display: flex;
  justify-content: space-around;
}

.main-list > li .cases,
.main-list > li .country {
  text-align: left;
  font: normal normal 1.5rem/110% Arial, sans-serif;
}
.main-list > li .cases {
  color: red;
}
.main-list > li .country {
  margin-left: 1rem;
}
